
<%= form_for @procesor, :html => { :multipart => true }, :class => "ui grid " do |form| %>
    <% if @procesor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procesor.errors.count, "error") %> prohibited this procesor from being saved:</h2>

      <ul>
      <% @procesor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui four wide segment ">
    <div class="ui red message">
      <h4 class="ui header"><i class="star icon"></i>New Application Test</h4>
    </div>
      <div class="ui inverted four wide column">
          <div class="field four wide column">
            <%= form.label :document, :class => "ui red header" %>
            <%= form.file_field :document, :class => "ui inverted red button" %>
            <%= form.submit "Submit", :class => "ui teal button"%>
            <%= link_to 'Back', procesors_path, :class => "ui green button" %>

          </div>

      </div>
    </div>


<% end %>
