<p id="notice"><%= notice %></p>
<form class="ui form">

  <div class="ui red message">
    <h4 class="ui dividing header"><i class="star icon"></i>Apps</h4>
    <br>
    <%= link_to 'Home', root_path, class: "ui teal button" %>
    <%= link_to 'Add new test application', new_procesor_path, class: "ui green button" %>

  </div>


<table class="ui table">
  <thead>
  <tr><th>File</th>
    <th colspan="3"></th>

  </tr></thead><tbody>
<% @procesors.each do |procesor| %>
  <tr>
    <td><%= procesor.document_file_name  %></td>
    <td><%= link_to 'Run', procesor, class: "ui inverted purple button" %></td>
    <td><%= link_to 'Delete', procesor, class: "ui inverted red button", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
</form><br><br><br>



